.ul{
    list-style-type: none;
    background-color: black;
    margin-top: 0;
    font-family: cursive;
    
}

.li{
    display: inline-block;
    padding: 1rem 0rem;
    
}

.li a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding: 1rem 1.5rem;
}

.ul a:hover{
    background-color: turquoise;
    color: black;
}