.container{
    display:grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4,1fr);
    grid-gap: 1.5rem 2.5rem ;
    padding: 2rem;
}

.card{
    background-color: black;
    border:5px solid white;
    padding: 1rem 1rem 0 1rem;
    position: relative;
    max-height: 400px;
}
.card:hover {
    filter: grayscale(100%);
}
.card:hover .desc{
    display: inline-block;
    transition: all ease-in-out 200ms;
    background-color: rgba(0, 0, 0, 0.7);

}
.title{
    color: azure;
    text-align: left;
}
.img{
    width:400px;
    height: 300px;
}
.desc{
    
    color: white;
    padding-bottom: 0;
    position: relative;
    top: -150px;
    display: none;
    max-height: max-content;
}
